TIMEZONE=${TIMEZONE}
MYSQL_ROOT_PASSWORD=${DB_ROOT_PASS}
DJANGO_BATTOMATIC_SECRET_KEY=${DJANGO_SECRET_KEY}
DJANGO_BATTOMATIC_SITE_URL=http://battomatic.${DJANGO_SITE_URL}
DJANGO_BATTOMATIC_DEBUG=False
DJANGO_BATTOMATIC_ALLOWED_HOSTS=*
DJANGO_BATTOMATIC_CSRF_TRUSTED_ORIGINS=http://localhost:3005
DJANGO_BATTOMATIC_DB=${DB_NAME}
DJANGO_BATTOMATIC_DB_USER=${DB_USER}
DJANGO_BATTOMATIC_DB_PASS=${DB_PASS}